<div class="modal-header-modern">
  <h2 class="modal-title-modern">Doação 🙏</h2>
</div>

<div class="form-modern">
  <p class="detail-text">Ajude a manter esse projeto no ar!</p>
  <span class="text">Chave Pix</span>
  <ion-input class="pix-key" [value]="pixKey" readonly></ion-input>
</div>

<div class="modal-footer">
  <button type="button" class="modal-button-cancel" (click)="fechar()">Fechar</button>
  <button type="button" class="modal-button-save" (click)="copiarPix()">Copiar Pix</button>
</div>
