#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
}

.text-p{
  font-size: 12px;
  line-height: 22px;
  
  color: #8c8c8ccc;

  margin: 0;
}
.text-quantidade{
  font-size: 14px;
  line-height: 22px;
  
  color: #8c8c8ccc;

  margin: 0;
}

.border{
  border: 2px solid red;
}