/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.hidden-input {
    display: none !important;
}

ion-modal.add-produto-modal {
  --width: auto;
  --max-width: 350px;
  --height: auto;
  --max-height: 80vh; /* Altura máxima relativa à viewport */
  --border-radius: 16px;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

ion-modal.add-produto-modal::part(content) {
  border-radius: 16px;
  overflow-y: auto;
  padding: 16px;
  width: 100%;
}

@media (max-width: 480px) {
  ion-modal.add-produto-modal {
    --width: auto; /* Aumenta a largura em telas muito pequenas */
    --max-height: auto;
    --background-color: red !important;
  }
}


ion-input.is-invalid::part(native) {
  border: 1px solid red !important;
  background-color: #ffe6e6 !important;
  border-radius: 4px;
  padding: 8px;
}

ion-input.is-invalid::part(native):focus {
  box-shadow: 0 0 6px red;
}