<div class="modal-header-modern">
  <h2 class="modal-title-modern">Editar Produto</h2>
</div>
<div class="form-modern">
  <form [formGroup]="produtoForm" (ngSubmit)="salvar()">

    <div>
      <span *ngIf="produtoForm.get('tarefa')?.invalid && (produtoForm.get('tarefa')?.touched || produtoForm.get('tarefa')?.dirty)"  class="error-text">
        Nome do Produto é obrigatório.
      </span>
      <span *ngIf="!(produtoForm.get('tarefa')?.invalid && (produtoForm.get('tarefa')?.touched || produtoForm.get('tarefa')?.dirty))" class="text">
        Nome do Produto
      </span>
    </div>

    <ion-input
      class="form-input-modern"
      formControlName="tarefa"
      type="text"
      [class.is-invalid]="produtoForm.get('tarefa')?.invalid && (produtoForm.get('tarefa')?.touched || produtoForm.get('tarefa')?.dirty)"
    ></ion-input>

    <div>
      <span class="text">
        Quantidade
      </span>
    </div>

    <ion-input
      class="form-input-modern"
      formControlName="quantidade"
      type="number"
      min="1"
    ></ion-input>

    <div>
      <span class="text">
        Valor Unitário
      </span>
    </div>

    <ion-input
      class="form-input-modern"
      formControlName="valorUnitario"
      type="text"
      inputmode="decimal"
      (ionInput)="formatarMoeda($event)"
    ></ion-input>

    <div class="modal-footer">
      <button type="button" class="modal-button-cancel" (click)="dismiss()">Cancelar</button>
      <button type="submit" class="modal-button-save" [disabled]="produtoForm.invalid">Salvar</button>
    </div>
  </form>
</div>